appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.10
Django==1.9.7
django-bootstrap-themes==3.3.6
django-bootstrap3==7.0.1
django-crispy-forms==1.6.0
gnureadline==6.3.3
ipython==4.2.1
ipython-genutils==0.1.0
pathlib2==2.1.0
pexpect==4.2.0
pickleshare==0.7.2
ptyprocess==0.5.1
rauth==0.7.2
requests==2.10.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.2
