{% extends "base.html" %}

{% block content %}

{% if not user.is_authenticated %}
<div class="Jumbotron text-center">
    <h1 class="display-2">
	Welcome to Saquib's Hackthon Project
    </h1>
    <h4 class="display-4">
	Please log in with your drchrono account
    </h4>
</div>
{% else %}
<div class="panel-group">
    {% for day, appts in appointments.iteritems %}
    <div class="panel panel-default">
	<div class="panel-heading">
	    <h3 class="panel-title">
		<a data-toggle="collapse" href="#{{day}}Appts">
		    {{day.title}}'s Appointments
		</a>
	    </h3>
	</div> <!-- panel-heading -->
	<div class="panel-collapse collapse" id="{{day}}Appts">
	    <div class="panel-body">
		<table class="table table-hover">
		    <thead>
			<tr>
			    <th>Patient Name</th>
			    <th>Appointment Time</th>
			</tr>
		    </thead>
		    <tbody>
			{% for patient, scheduled_time in appts %}
			<tr>
			    <td><a href="/patienteducator/patient/{{patient.id}}/documents">
				{{patient.name}}
			    </a></td>
			    <td>{{scheduled_time}}</td>
			</tr>
			{% endfor %}
		    </tbody>
		</table>
	    </div> <!-- panel-body -->
	</div> <!-- panel-collapse collapse -->
    </div> <!-- panel panel-default -->
    {% endfor %}
</div>

{% endif %}
{% endblock content %}
