{% extends "patienteducator/patient_base.html" %}

{% block welcome_message %}
Currently Sharing with {{patient.name}}

{% endblock welcome_message %}

{% block upload %}

<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
<script>
 $(document).ready(function() {
     Dropzone.options.docFileDropzone = {
	 paramName: "docfile", // The name that will be used to transfer the file
	 success: function(file, response){
	     document.open();
	     document.write(response);
	     document.close();
	 }
     }     
 })
</script>


<div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
	<div class="panel panel-default">
	    <!-- <form  action="{{ request.path }}" method="post" enctype="multipart/form-data"> -->
	    <form class="dropzone" action="{{request.path}}" id="docFileDropzone">
		{% csrf_token %}
		<!-- {{ form.docfile }} -->
		</p>
		<!-- <p><input type="submit" value="Upload" /></p> -->
		<p>{{ form.docfile.help_text }}</p>
	    </form>
	</div> <!-- panel panel-default -->
    </div> <!-- col-md-6 col-offset-3 -->
</div> <!-- row -->

{% endblock upload %}

{% block shareableuri %}
<p class="ribbon">
    <strong class="ribbon-content">
	Shareable url: <span i><em>{{url_to_share}}</em></span>
    </strong>
</p>


<style>
 .ribbon {
     font-size: 12px !important;
     width: 50%;
     
     position: relative;
     background: #7FA6B3;
     color: #fff;
     text-align: center;
     padding: 1em 2em; /* Adjust to suit */
     margin: 2em auto 3em; 
 }
 .ribbon:before, .ribbon:after {
     content: "";
     position: absolute;
     display: block;
     bottom: -1em;
     border: 1.5em solid #15380A;
     z-index: -1;
 }
 .ribbon:before {
     left: -2em;
     border-right-width: 1.5em;
     border-left-color: transparent;
 }
 .ribbon:after {
     right: -2em;
     border-left-width: 1.5em;
     border-right-color: transparent;
 }
 .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
     content: "";
     position: absolute;
     display: block;
     border-style: solid;
     border-color: #7FA6B3 transparent transparent transparent;
     bottom: -1em;
 }
 .ribbon .ribbon-content:before {
     left: 0;
     border-width: 1em 0 0 1em;
 }
 .ribbon .ribbon-content:after {
     right: 0;
     border-width: 1em 1em 0 0;
 }
</style>
{% endblock shareableuri %}


